phishenv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
*.pkl
*.joblib
.env
.venv
media/
staticfiles/
.DS_Store
.vscode/
.idea/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
*.log
datasets/
